# ================================
# Environment / Secrets
# ================================
.env

# ================================
# Docker
# ================================
postgres_data/
*.log

# ================================
# Java (Spring Boot)
# ================================
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# ================================
# Python (FastAPI / ML)
# ================================
__pycache__/
*.pyc
*.pyo
.venv/

# ================================
# Node / Frontend (Dashboard)
# ================================
node_modules/
dist/
build/

# ================================
# IDE / OS
# ================================
.idea/
.vscode/
.DS_Store
Thumbs.db

# ================================
# Git
# ================================
*.orig
*.rej
